---
import DemoCamera from "../components/Camera.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div style="background-color: rgb(209,228,146);">
    <DemoCamera />
  </div>
</Layout>
