---

---

<script src="./camera.ts"></script>

<h1>camera</h1>
<button id="take-picture-button">Take picture</button>
<img
  id="image-element"
  style={{
    "max-width": "100%",
    "max-height": "500px",
  }}
/>
<hr />
