---
import {
  TAKE_BUTTON_ID,
  SHARE_BUTTON_ID,
  SHARE_DEMO_ID,
  IMAGE_ID,
  TOAST_BUTTON_ID,
} from "./ids.ts";
---

<h1 class="text-4xl text-center uppercase font-bold">camera & share</h1>

<img class="w-full max-h-[300px] mb-3 object-contain" id={IMAGE_ID} />
<div class="flex space-x-3">
  <button class="btn btn-primary" id={TAKE_BUTTON_ID}>Take picture</button>
  <button class="btn btn-outline hidden" id={SHARE_BUTTON_ID}
    >Share picture</button
  >
</div>
<hr class="my-6" />
<button class="btn btn-primary" id={SHARE_DEMO_ID}>Share demo</button>

<script>
  import {
    TAKE_BUTTON_ID,
    SHARE_BUTTON_ID,
    SHARE_DEMO_ID,
    IMAGE_ID,
  } from "./ids.ts";
  import { Camera, CameraResultType, type Photo } from "@capacitor/camera";
  import { Share } from "@capacitor/share";

  const imageElement = document.getElementById(IMAGE_ID) as HTMLImageElement;
  var photo: Photo;

  const takePicture = async () => {
    photo = await Camera.getPhoto({
      quality: 90,
      allowEditing: false,
      resultType: CameraResultType.Uri,
    });
    var imageUrl = photo.webPath;

    if (imageUrl) {
      imageElement.src = imageUrl;
    }

    shareButton.classList.remove("hidden");
  };

  const takeButton = document.getElementById(
    TAKE_BUTTON_ID
  ) as HTMLButtonElement;
  takeButton.addEventListener("click", takePicture);

  const sharePicture = async () => {
    try {
      await Share.share({
        files: [photo.path!],
      });
    } catch (error) {
      alert(error);
    }
  };
  const shareButton = document.getElementById(
    SHARE_BUTTON_ID
  ) as HTMLButtonElement;

  shareButton.addEventListener("click", sharePicture);

  const shareDemo = async () => {
    await Share.share({
      title: "See cool stuff",
      text: "Really awesome thing you need to see right meow",
      url: "http://ionicframework.com/",
      dialogTitle: "Share with buddies",
    });
  };
  const shareDemoButton = document.getElementById(
    SHARE_DEMO_ID
  ) as HTMLButtonElement;
  shareDemoButton.addEventListener("click", shareDemo);
</script>
