---

---

<h1>camera & share</h1>
<hr />

<img
  id="image-element"
  style={{
    "max-width": "100%",
    "max-height": "500px",
  }}
/>
<button id="take-picture-button">Take picture</button>
<button id="share-picture-button" style="visibility: hidden;"
  >Share picture</button
>
<hr />
<button id="share-demo">Share demo</button>

<script src="./camera.ts"></script>
