---
import { NETWORK_STATUS_ID } from "./ids";
---

<p>
  current network status: <span id={NETWORK_STATUS_ID}></span>
</p>
<script>
  import { Network } from "@capacitor/network";
  import { NETWORK_STATUS_ID } from "./ids";
  import { Toast } from "@capacitor/toast";

  Network.addListener("networkStatusChange", async (status) => {
    if (!status.connected) {
      await Toast.show({
        text: "No internet connection!",
        duration: "short",
        position: "center",
      });
    } else {
      await Toast.show({
        text: "Connected!",
        duration: "short",
        position: "center",
      });
    }
  });

  async function checkNetwork() {
    const status = await Network.getStatus();
    const networkStatus = document.getElementById(
      NETWORK_STATUS_ID
    ) as HTMLSpanElement;
    networkStatus.innerText = status.connectionType;
  }
  checkNetwork();
</script>
