---
const googleMapsApiKey = import.meta.env.GOOGLE_MAP_API_KEY;
---

<h1>Maps</h1>
<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src={`https://www.google.com/maps/embed/v1/place?key=${googleMapsApiKey}&q=Space+Needle,Seattle+WA`}
>
</iframe>
