---
// src: https://capacitorjs.com/docs/apis/preferences
import Count from "./Count.astro";
import Todo from "./Todo.astro";
---

<h1 class="text-xl uppercase font-bold">Storage</h1>
<p>expect count to save to persistence storage</p>
<Count />
<Todo />
